**/*.exe*
**/*.dll
**/*.so
**/*.dylib
**/*.test
**/*.out
**/goTestOutPutPng/*
**/ex
**/.codecov
**/coverage.*
**/*.exe
**/*.zip
**/_builds
**/.idea
**/tmp
**/log
**/mtest*
**/*.log
config2.json
**/test